[submodule "pack/vim-go/start/vim-go"]
	path = pack/vim-go/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/vim-unimpaired/start/vim-unimpaired"]
	path = pack/vim-unimpaired/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/vim-exchange/start/vim-exchange"]
	path = pack/vim-exchange/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "pack/command-t/start/command-t"]
	path = pack/command-t/start/command-t
	url = https://github.com/wincent/command-t.git
[submodule "pack/YouCompleteMe/start/YouCompleteMe"]
	path = pack/YouCompleteMe/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
