[submodule "pack/vim-go/start/vim-go"]
	path = pack/vim-go/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/vim-unimpaired/start/vim-unimpaired"]
	path = pack/vim-unimpaired/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
